<section class="page-section">
  <div id="section-1" class="container translated-element">
    <div class="section-header">
      <h3>HOW CAN I HELP YOU</h3>
      <app-button [customClassList]="'btn-tertiary custom-btn-style'"
      [isDisabledButton]="false">View All Services</app-button>
    </div>
    <div class="section-content">
      <mat-card class="content-item">
        <mat-card-header>
          <mat-card-title>
            Name of therapy 1
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://images.squarespace-cdn.com/content/v1/624b503b5d73881124e70a24/1649102923989-HOTX3VP5FFBFQY94VTYO/Stocksy_comp_2793634.jpg" alt="image of help type">
        <mat-card-content>
          <p class="paragraph-2">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
            Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="content-item">
        <mat-card-header>
          <mat-card-title>
            Name of therapy 2
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://images.squarespace-cdn.com/content/v1/624b503b5d73881124e70a24/1649102924064-WOHVMSVYEXR1JMCVJXES/image-asset.jpeg" alt="image of help type">
        <mat-card-content>
          <p class="paragraph-2">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
            Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="content-item">
        <mat-card-header>
          <mat-card-title>
            Name of therapy 3
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://images.squarespace-cdn.com/content/v1/624b503b5d73881124e70a24/1649102924079-Z3NOPL4ZRSCLZ1TS0EP5/image-asset.jpeg" alt="image of help type">
        <mat-card-content>
          <p class="paragraph-2">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
            Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
