<div class="section-header">
  <h3>Jak mogę Ci pomóc?</h3>
  <app-button
    routerLink="/about"
    [customClassList]="'btn-tertiary custom-btn-style'"
    [isDisabledButton]="false"
    typeButton="button">
    zobacz wszystko
  </app-button>
</div>
<div class="section-content">
  <mat-card class="content-item">
    <mat-card-header class="text-oneline">
      <mat-card-title>
        Psycholog
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/1356630941/pl/zdj%C4%99cie/kobieta-psycholog-pracuje-z-nastoletni%C4%85-dziewczyn%C4%85-w-jej-biurze-zdrowie-psychiczne.jpg?s=2048x2048&w=is&k=20&c=0DQ3VeJb7l2wrJv0icE-Sq0ja6OBZn4hO6bAgiXWzCA=" alt="image of help type">
    <mat-card-content>
      <p class="paragraph-2">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
        Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="content-item">
    <mat-card-header class="text-oneline">
      <mat-card-title>
        Psychoterapia
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/imges/pexels-george-milton-2.jpg" alt="image of help type">
    <mat-card-content>
      <p class="paragraph-2">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
        Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="content-item">
    <mat-card-header class="text-oneline">
      <mat-card-title>Pomoc psychologichna
        online
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://images.pexels.com/photos/7034440/pexels-photo-7034440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image of help type">
    <mat-card-content>
      <p class="paragraph-2">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.
        Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
    </mat-card-content>
  </mat-card>
</div>
