/* CUSTOM BUTTON STYLE */
  button.mat-mdc-button-base.custom-btn-style {
    text-transform: uppercase;
    border-radius: unset;
    background-color: var(--bright-2);
    color: var(--bright-1);
    transition: .1s opacity linear;
  }
    /* PRIMARY BUTTON */
  .btn-primary {
    font-size: var(--btn-primary-size);
  }
    /* SECONDARY BUTTON */
  .btn-secondary {
    font-size: var(--btn-secondary-size);
  }
    /* TERTIARY BUTTON */
  .btn-tertiary {
    font-size: var(--btn-tertiary-size);
  }

  button.mat-mdc-button-base.custom-btn-style:disabled {
    background-color: var(--light-2);
    color: var(--dark-2);
  }
