<div class="page-wrapper">
  <header id="header" role="header">
    <app-header></app-header>
  </header>
  <main id="main-page"  role="main">
    <div class="sections">
      <section id="appointment">
        <div class="container translated-element">
          <div class="section-header">
            <h3>Umów wizytę w gabinecie lub online</h3>
            <br>
            <p class="paragraph-1">TELEFONICZNA REJESTRACJA: poniedziałek-piątek 8:00-18:00</p>
            <p class="paragraph-1"><b>+48 000 000 000</b></p>
          </div>
          <div class="section-content">
            <div class="content-item">
              <app-contact-form></app-contact-form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
<footer id="footer" role="footer">
  <app-footer></app-footer>
</footer>
