<div class="section-header">
  <h3>bądźmy w kontakcie</h3>
</div>
<div class="section-content">
  <div class="content-item left">
    <p class="paragraph-1 section-subheader">Skontaktuj się ze mną i rozpocznij terapię</p>
    <div class="block-item address-block">
      <mat-icon aria-hidden="false" aria-label="place icon" fontIcon="place"></mat-icon>
      <div class="block-content">
        <p><b>Centrum spotkania</b></p>
        <p>pl. Rynek 24/15
        <br>50-150 Wrocław
        <br>I piętro
        </p>
      </div>
    </div>
    <div class="block-item phone-block">
      <mat-icon aria-hidden="false" aria-label="phone icon" fontIcon="phone"></mat-icon>
      <div class="block-content">
        <p>+48 000 000 000</p>
      </div>
    </div>
    <div class="block-item email-block">
      <mat-icon aria-hidden="false" aria-label="email icon" fontIcon="email"></mat-icon>
      <div class="block-content">
        <p>email@email.com</p>
      </div>
    </div>
    <div class="reservation-block">
      <p class="paragraph-1">Rejestracja telefoniczna</p>
      <p>W celu umówienia wizyty prosę o kontakt telefoniczny
      <br>+48 000 000 000
      <br>Rejestracja czynna od poniedziałku do piątku,
      <br>w godzinach 8:00-18:00
      </p>
    </div>
  </div>
  <div class="content-item right">
    <div class="content-item-wrap">
      <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.8786445431933!2d17.029791276444904!3d51.1106991717258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc275a5a6cf57%3A0x7b0ff0a81d3b2aa0!2sRynek%2C%2050-529%20Wroc%C5%82aw!5e0!3m2!1sen!2spl!4v1709050084297!5m2!1sen!2spl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="appointment-block">
  <app-button
    [customClassList]="'btn-primary custom-btn-style'"
    [isDisabledButton]="false">
    umów wizytę
  </app-button>
</div>
