<div id="footer" class="container" role="footer">
  <div class="attribution">
    <p>© 2024 Mental Health<br>
      <span>Wszelkie prawa zastrzeżone</span>
    </p>
    <div class="attribution-blok">
      <p>Projekt i wykonanie <a href="https://github.com/IevgeniiaAbdulina" target="_blank" rel="noopener noreferrer">Abdulina</a></p>
      <p class="attribution-photo">Photo by
        <a href="https://www.pexels.com/photo/man-in-black-jacket-sitting-on-brown-wooden-chair-4098221/" target="_blank">
          cottonbro studio
        </a>,
        <a href="https://www.pexels.com/photo/table-with-tea-and-burning-candle-between-armchairs-in-house-7034299/">
          George Milton
        </a>
      </p>
    </div>
  </div>
</div>
