<div class="navbar-top">
  <div class="navbar-inner-content">
    <div class="header-title-nav-wrapper">
      <div class="header-title">
        <a href="#home"><b>MH</b> Mental Health website</a>
      </div>
      <div class="header-nav">
        <div class="header-nav-item">
          <a href="#section-1" class="header-element nav-button">Oferta</a>
        </div>
        <div class="header-nav-item">
          <a href="#section-2" class="header-element nav-button">Zakres pomocy</a>
        </div>
        <div class="header-nav-item">
          <a href="#section-3" class="header-element nav-button">Kontakt</a>
        </div>
      </div>
    </div>
    <div class="header-actions">
      <app-button
        [customClassList]="'btn-primary custom-btn-style'"
        [isDisabledButton]="false">
        umów wizytę
      </app-button>
    </div>
  </div>
</div>
