<div class="navbar-top">
  <div class="navbar-inner-content">
    <div class="header-title-nav-wrapper">
      <div class="header-title">
        <a routerLink="/home" (click)="onClick('home')">
          <img src="assets/imges/logo_white_32.svg" alt="logo image">
          Mental Health
        </a>
      </div>
      <div class="header-nav">
        <div class="header-nav-item">
          <a (click)="onClick('section-1')" class="header-element nav-button button-link">Oferta</a>
        </div>
        <div class="header-nav-item">
          <a (click)="onClick('section-2')" class="header-element nav-button button-link">Zakres pomocy</a>
        </div>
        <div class="header-nav-item">
          <a (click)="onClick('section-3')" class="header-element nav-button button-link">Kontakt</a>
        </div>
        <div class="header-nav-item">
          <a routerLink="/services" class="header-element nav-button button-link">Oferta</a>
        </div>
        <div class="header-nav-item">
          <a routerLink="/about" class="header-element nav-button button-link">O mnie</a>
        </div>
      </div>
    </div>
    <div class="header-actions">
      <app-button routerLink="/appointment"
        typeButton="button"
        [customClassList]="'btn-primary custom-btn-style'"
        [isDisabledButton]="false">
        umów wizytę
      </app-button>
    </div>
    <app-menu></app-menu>
  </div>
</div>
