<div class="page-wrapper">
  <header id="header" role="header">
    <app-header></app-header>
  </header>
  <main id="main-page" role="main">
    <div class="sections">
      <section id="top-background-section">
        <div class="container">
          <div class="section-background">
            <img class="top-image" src="https://images.pexels.com/photos/7034504/pexels-photo-7034504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="books on a shelf">
            <div class="bg-overlay"></div>
          </div>
        </div>
      </section>
      <section id="about-me-section">
        <div class="container translated-element">
          <div class="content-wrapper">
            <div class="content-item section-header">
              <h3>{{ fileContent?.content?.title }}</h3>
              <p class="paragraph-1 section-subheader">{{ fileContent?.content?.subtitle?.header }}</p>
              <p class="content-text">{{ fileContent?.content?.subtitle?.body }}</p>
              <div class="details-block-item top hidden">
                <div class="item-box">
                  <label class="details-checkbox">
                    <input type="checkbox" checked class="checkbox-item">
                    {{ fileContent?.content?.checkboxes?.box1 }}
                  </label>
                  <label class="details-checkbox" >
                    <input type="checkbox" checked class="checkbox-item">
                    {{ fileContent?.content?.checkboxes?.box2 }}
                  </label>
                </div>
                <p>{{ fileContent?.content?.body }}</p>
              </div>
              <div class="button-block-item top hidden">
                <app-button
                  routerLink="/home"
                  [customClassList]="'btn-primary custom-btn-style'"
                  [isDisabledButton]="false"
                  typeButton="button">
                  what i do
                </app-button>
              </div>
            </div>
            <div class="content-item section-img">
              <div class="content-item-wrap">
                <img src="https://images.pexels.com/photos/7034776/pexels-photo-7034776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="girl with book">
              </div>
            </div>
            <div class="content-item details bottom hidden">
              <div class="details-block-item">
                <div class="item-box">
                  <label class="details-checkbox">
                    <input type="checkbox" checked class="checkbox-item">
                    {{ fileContent?.content?.checkboxes?.box1 }}
                  </label>
                  <label class="details-checkbox" >
                    <input type="checkbox" checked class="checkbox-item">
                    {{ fileContent?.content?.checkboxes?.box2 }}
                  </label>
                </div>
                <p>{{ fileContent?.content?.body }}</p>
              </div>
              <div class="button-block-item">
                <app-button
                  routerLink="/home"
                  [customClassList]="'btn-primary custom-btn-style'"
                  [isDisabledButton]="false"
                  typeButton="button">
                  what i do
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="bio-section">
        <div class="container translated-element">
          <div class="bio-header">
            <h3>{{ fileContent?.bio?.title }}</h3>
          </div>
          <div class="bio-content">
            <div>
              <p>{{ fileContent?.bio?.body?.p1 }}</p>
              <p>{{ fileContent?.bio?.body?.p2 }}</p>
              <p>{{ fileContent?.bio?.body?.p3 }}</p>
            </div>
            <div>
              <p>{{ fileContent?.bio?.body?.p4 }}</p>
               <p>{{ fileContent?.bio?.body?.p5 }}</p>
            </div>
          </div>
        </div>
      </section>
      <section id="contact-section">
        <h3>Let's talk!</h3>
        <div class="contact-button">
          <app-button
            routerLink="/appointment"
            [customClassList]="'btn-primary custom-btn-style'"
            [isDisabledButton]="false"
            typeButton="button">
            contact me
          </app-button>
        </div>
      </section>
    </div>
  </main>
</div>
<footer id="footer" role="footer">
  <app-footer></app-footer>
</footer>
