<div class="page-wrapper">
  <header id="header" role="header">
    <app-header></app-header>
  </header>
  <main id="main-page" role="main">
    <div class="sections">
      <section id="top-background-section">
        <div class="container">
          <div class="section-background">
            <img class="top-image" src="https://images.pexels.com/photos/7034504/pexels-photo-7034504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="books on a shelf">
            <div class="bg-overlay"></div>
          </div>
        </div>
      </section>
      <section id="about-me-section">
        <div class="container translated-element">
          <div class="content-wrapper">
            <div class="content-item section-header">
              <h3>About me</h3>
              <p class="paragraph-1 section-subheader">Explore our psychology section!</p>
              <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
              <div class="details-block-item top hidden">
                <div class="item-box">
                  <label class="details-checkbox">
                    <input type="checkbox" checked class="checkbox-item">
                    Balance & self-care
                  </label>
                  <label class="details-checkbox" >
                    <input type="checkbox" checked class="checkbox-item">
                    Transformation
                  </label>
                </div>
                <p>Cursus metus aliquam eleifend mi. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Libero justo laoreet sit amet. Dui id ornare arcu odio ut sem nulla pharetra.</p>
              </div>
              <div class="button-block-item top hidden">
                <app-button
                  routerLink="/home"
                  [customClassList]="'btn-primary custom-btn-style'"
                  [isDisabledButton]="false"
                  typeButton="button">
                  what i do
                </app-button>
              </div>
            </div>
            <div class="content-item section-img">
              <div class="content-item-wrap">
                <img src="https://images.pexels.com/photos/7034776/pexels-photo-7034776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="girl with book">
              </div>
            </div>
            <div class="content-item details bottom hidden">
              <div class="details-block-item">
                <div class="item-box">
                  <label class="details-checkbox">
                    <input type="checkbox" checked class="checkbox-item">
                    Balance & self-care
                  </label>
                  <label class="details-checkbox" >
                    <input type="checkbox" checked class="checkbox-item">
                    Transformation
                  </label>
                </div>
                <p>Cursus metus aliquam eleifend mi. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Libero justo laoreet sit amet. Dui id ornare arcu odio ut sem nulla pharetra.</p>
              </div>
              <div class="button-block-item">
                <app-button
                  routerLink="/home"
                  [customClassList]="'btn-primary custom-btn-style'"
                  [isDisabledButton]="false"
                  typeButton="button">
                  what i do
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="bio-section">
        <div class="container translated-element">
          <div class="bio-header">
            <h3>Official Bio</h3>
          </div>
          <div class="bio-content">
            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget mattis sapien, ut lobortis dolor. Nunc tristique est suscipit libero sodales vestibulum. Curabitur mollis vestibulum sem in dictum. Integer mauris massa, efficitur in sem eu, egestas vehicula arcu. Nullam at sapien at mi ornare euismod. Duis id aliquam tortor. Cras dignissim orci nunc, in egestas turpis semper id. In non dapibus nisl.
              </p>
              <p>
                Nulla dictum magna et tellus semper aliquet. Mauris ornare finibus sodales. Nam auctor mi porta libero feugiat, id feugiat leo tempor. Curabitur nec nisl ut nisl lobortis dignissim in in leo. Duis risus urna, condimentum eget massa nec, tristique euismod risus. Ut a faucibus nunc. Mauris porta hendrerit magna, ac facilisis mi rutrum quis.
              </p>
              <p>
                Cras tincidunt nunc tristique orci sodales rhoncus. Morbi vel fermentum lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus vel ornare lacus, at ornare elit. Fusce egestas erat et enim laoreet, sed convallis diam laoreet. Maecenas venenatis placerat nunc, id finibus tortor vulputate eu. Nullam eleifend ligula sed dui tincidunt euismod. Fusce venenatis malesuada elementum. Ut facilisis quam a nulla maximus eleifend. Proin vel massa laoreet, efficitur est vel, cursus lorem. Praesent pharetra ante ac enim volutpat, eu aliquam mauris luctus.
              </p>
            </div>
            <div>
              <p>
                Vivamus purus nibh, suscipit sit amet pretium laoreet, maximus at metus. Donec vitae mi odio. Cras suscipit magna a risus consectetur, ut tempor augue gravida. Mauris in erat purus. Suspendisse ac mauris fermentum, pulvinar libero non, ultricies massa. Ut metus nibh, maximus ut magna tristique, bibendum dapibus eros. Nullam congue dolor neque, ac rutrum eros malesuada at. Sed vel justo mattis, sagittis felis et, egestas orci. Sed tincidunt, ante non egestas ultricies, turpis dui elementum erat, facilisis ornare ante nibh in turpis. Nunc semper turpis eu odio cursus aliquet. Aenean egestas, nisi sit amet cursus accumsan, diam felis imperdiet ligula, eu lacinia turpis enim sit amet velit.
              </p>
               <p>
                Integer dapibus lectus sit amet faucibus cursus. Donec eget dui nulla. Aenean a lacus nec odio tempus vestibulum. Sed aliquet elit nec nisl ultricies maximus. Nulla facilisi. Sed ut ultrices leo. Nulla bibendum elementum vehicula. Fusce sit amet felis dui. Praesent magna nisl, tristique ac fermentum et, pharetra sit amet enim.
               </p>
            </div>
          </div>
        </div>
      </section>
      <section id="contact-section">
        <h3>Let's talk!</h3>
        <div class="contact-button">
          <app-button
            routerLink="/appointment"
            [customClassList]="'btn-primary custom-btn-style'"
            [isDisabledButton]="false"
            typeButton="button">
            contact me
          </app-button>
        </div>
      </section>
    </div>
  </main>
</div>
<footer id="footer" role="footer">
  <app-footer></app-footer>
</footer>
