<section id="home" class="page-section">
  <div class="section-border">
    <div class="section-background">
      <img class="top-image" src="https://images.squarespace-cdn.com/content/v1/624b503b5d73881124e70a24/1649102923989-HOTX3VP5FFBFQY94VTYO/Stocksy_comp_2793634.jpg" alt="Mental Health">
      <div class="bg-overlay"></div>
    </div>
    <div class="content-wrapper">
      <div class="top-content">
        <h2>Introducing a mental health collective.</h2>
        <p>Get accessible and personalized mental healthcare in-person or from the comfort of your home. </p>
      </div>
      <div class="top-content-actions">
        <button mat-flat-button color="primary" class="btn-primary custom-btn-style">Button 2</button>
      </div>
    </div>
  </div>
</section>
