<div class="section-background">
  <img class="top-image" src="https://images.squarespace-cdn.com/content/v1/624b503b5d73881124e70a24/1649102923989-HOTX3VP5FFBFQY94VTYO/Stocksy_comp_2793634.jpg" alt="Mental Health">
  <div class="bg-overlay"></div>
</div>
<div class="content-wrapper">
  <div class="top-content">
    <h2>Przedstawiamy program zdrowia psychicznego</h2>
    <p>Uzyskaj dostępną i spersonalizowaną opiekę psychiatryczną osobiście lub w zaciszu własnego domu</p>
  </div>
  <div class="top-content-actions">
    <app-button
      [customClassList]="'btn-primary custom-btn-style'"
      [isDisabledButton]="false">
      umów wizytę
    </app-button>
  </div>
</div>
