<div class="section-background">
  <img class="top-image" src="https://media.istockphoto.com/id/1365349094/pl/zdj%C4%99cie/dwie-nowoczesne-stylowe-kobiety-siedz%C4%85-w-biurze-i-dyskutuj%C4%85-o-pomys%C5%82ach-i-realizacji-plan%C3%B3w.jpg?s=2048x2048&w=is&k=20&c=98-vvQMEUfqCbXMH7enDgK2CenS8TJ_Gd1O6vK-Xz-4=" alt="Women Sitting on the Chair while Having Conversation">

  <div class="bg-overlay"></div>
</div>
<div class="content-wrapper">
  <div class="top-content">
    <h2>Przedstawiamy program zdrowia psychicznego</h2>
    <p>Uzyskaj dostępną i spersonalizowaną opiekę psychiatryczną osobiście lub w zaciszu własnego domu</p>
  </div>
  <div class="top-content-actions">
    <app-button
      routerLink="/appointment"
      [customClassList]="'btn-primary custom-btn-style'"
      [isDisabledButton]="false"
      typeButton="button">
      umów wizytę
    </app-button>
  </div>
</div>
