<div class="header" role="header">
  <h1>h1 Mental Health website</h1>
  <h2>h2 Mental Health website</h2>
  <h3>h3 Mental Health website</h3>
  <h4>h4 Mental Health website</h4>
  <nav>
    <a href="#" class="text-details">1</a>
    <a href="#" class="text-details">2</a>
    <a href="#" class="text-details">3</a>
  </nav>
  <div style="margin: 10px;" class="animated-element fade-in-element">
    <button mat-flat-button color="primary" class="btn-primary custom-btn-style">Button 1</button>
  </div>
  <div style="margin: 10px;">
    <button mat-flat-button color="primary" class="btn-secondary custom-btn-style">Button 2</button>
  </div>
  <div style="margin: 10px;">
    <button mat-flat-button color="primary" class="btn-tertiary custom-btn-style">Button 3</button>
  </div>
</div>
<div role="main" class="translated-element">
  <div>main</div>
  <p class="paragraph-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
  <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
  <p class="paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed in ex urna. Donec consequat dolor ut imperdiet accumsan.</p>
</div>

<div role="footer">
  <div>footer</div>
</div>
