<div class="page-wrapper">
  <main role="main">
    <div class="sections">
      <section id="section-4">
        <div class="container">
          <div class="section-image-wrapper">
            <img src="assets/imges/undraw_page_not_found_re_e9o6.svg" alt="page not found illustration">
          </div>
          <h2>Coś jest nie tak.</h2>
          <p>Nie znaleźliśmy strony, której szukasz.</p>
          <app-button routerLink="/home"
            [customClassList]="'btn-primary custom-btn-style'"
            [isDisabledButton]="false">
              Wróć do strony startowej
          </app-button>
        </div>
      </section>
    </div>
  </main>
</div>
