<div class="menu-container">
  <mat-sidenav-container class="sidenav-container">
    <button mat-icon-button (click)="sidenav.toggle()" class="btn-menu "><mat-icon>menu</mat-icon></button>
    <mat-sidenav #sidenav [mode]="'over'" position="end">
      <div class="sidenav-wrapper">
        <div class="sidenav-header" *ngIf="sidenav">
          <a (click)="onClick('home')">Mental Health</a>
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="btn-close">close</mat-icon></button>
        </div>
        <div class="nav-list">
          <mat-nav-list>
            <p class="nav-list-item" *ngFor="let nav of fillerNav; index as i">
              <a mat-list-item (click)="onClick('section-', i+1)">
                <span class="custopm-nav-list-item">{{ nav }}</span>
              </a>
            </p>
          </mat-nav-list>
          <app-button (click)="sidenav.toggle()" routerLink="appointment"
              [customClassList]="'btn-primary custom-btn-style'"
              [isDisabledButton]="false">
              umów wizytę
          </app-button>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
