.sections {
  position: relative;
  flex-grow: 1;
}

section {
  padding-top: 4em;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#home {
  min-height: 100vh;
}
