<div class="page-wrapper">
  <header id="header" role="header">
    <app-header></app-header>
  </header>
  <main id="main-page" role="main">
    <div class="sections">
      <section id="services-header">
        <div class="container">
          <div class="section-background">
            <img class="top-image" src="https://media.istockphoto.com/id/1365349094/pl/zdj%C4%99cie/dwie-nowoczesne-stylowe-kobiety-siedz%C4%85-w-biurze-i-dyskutuj%C4%85-o-pomys%C5%82ach-i-realizacji-plan%C3%B3w.jpg?s=2048x2048&w=is&k=20&c=98-vvQMEUfqCbXMH7enDgK2CenS8TJ_Gd1O6vK-Xz-4=" alt="Women Sitting on the Chair while Having Conversation">
            <div class="bg-overlay"></div>
          </div>
          <div class="services-header-wrapper">
            <div class="services-header-content">
              <h3>The list of help offered</h3>
              <p class="paragraph-1 section-subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget mattis sapien, ut lobortis dolor. Nunc tristique est suscipit libero sodales vestibulum. Curabitur mollis vestibulum sem in dictum. Integer mauris massa, efficitur in sem eu, egestas vehicula arcu. Nullam at sapien at mi ornare euismod. Duis id aliquam tortor. Cras dignissim orci nunc, in egestas turpis semper id. In non dapibus nisl.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="services-main">
        <div class="container translated-element">
          <div class="services-main-content">
            <app-card *ngFor="let service of servicesList"
              [id]="service.cardId"
              [title]="service.title"
              [subtitle]="service.subtitle"
              [options]="service.options"
              [imgLink]="service.img"
              [customClass]="'services-card'"
            ></app-card>
          </div>
        </div>
      </section>
      <section id="contact-section">
        <h3>Would you like to make an appointment?</h3>
        <div class="contact-button">
          <app-button
            routerLink="/appointment"
            [customClassList]="'btn-primary custom-btn-style'"
            [isDisabledButton]="false"
            typeButton="button">
            contact me
          </app-button>
        </div>
      </section>
    </div>
  </main>
</div>
<footer id="footer" role="footer">
  <app-footer></app-footer>
</footer>

