<div class="page-wrapper">
  <header id="header" role="header">
    <app-header></app-header>
  </header>
  <main id="main-page" role="main" *ngFor="let section of getPageContent('services')?.sections">
    <div class="sections">
      <section id="services-header" *ngIf="section.name === 'servicesHeaderSection'">
        <div class="container">
          <div class="section-background">
            <img class="top-image" [src]="section.imageSrc" [alt]="section.imageAlt">
            <div class="bg-overlay"></div>
          </div>
          <div class="services-header-wrapper">
            <div class="services-header-content">
              <h3>{{ section.title }}</h3>
              <p class="paragraph-1 section-subheader">{{ section.subtitle }}</p>
              <p>{{ section.txtContent?.paragraph1 }}</p>
            </div>
          </div>
        </div>
      </section>
      <section id="services-main" *ngIf="section.name === 'servicesMainSection'">
        <div class="container translated-element">
          <div class="services-main-content" >
            <app-card *ngFor="let serviceCard of section.servicesList"
              [id]="serviceCard.cardId"
              [title]="serviceCard.title"
              [subtitle]="serviceCard.subtitle"
              [options]="serviceCard.options"
              [imgLink]="serviceCard.imgUrl"
              [customClass]="'services-card'"
            ></app-card>
          </div>
        </div>
      </section>
      <section id="contact-section" *ngIf="section.name === 'servicesContactSection'">
        <h3>{{ section.title }}</h3>
        <div class="contact-button">
          <app-button
            routerLink="/appointment"
            [customClassList]="'btn-primary custom-btn-style'"
            [isDisabledButton]="false"
            typeButton="button">
            contact me
          </app-button>
        </div>
      </section>
    </div>
  </main>
</div>
<footer id="footer" role="footer">
  <app-footer></app-footer>
</footer>

