<form class="form-element" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <p class="paragraph-1">
    {{ contactFormFields.name.label| titlecase }}
    <span> *</span>
  </p>
  <mat-form-field class="form-field-item" appearance="outline">
    <input
      matInput
      id="{{ contactFormFields['name'].id }}"
      type="{{ contactFormFields['name'].type }}"
      formControlName="name"
      placeholder="{{ contactFormFields['name'].placeholder }}"
      required
      autocomplete="off">

    <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
      {{ contactFormFields['name'].errorMessage }}
      <p *ngIf="name?.errors?.['required']">* Name is required.</p>
      <p *ngIf="name?.errors?.['minlength']">* Name must be at least 4 characters long.</p>
      <p *ngIf="name?.errors?.['pattern']">* Name should contain only letters.</p>
    </mat-error>
  </mat-form-field>

  <p class="paragraph-1">
    {{ contactFormFields['email'].label | titlecase }}
    <span> *</span>
  </p>
  <mat-form-field class="form-field-item" appearance="outline">
    <input
      matInput
      id="{{ contactFormFields['email'].id }}"
      type="{{ contactFormFields['email'].type }}"
      formControlName="email"
      placeholder=" {{ contactFormFields['email'].placeholder }}"
      required
      autocomplete="off">

    <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      {{ contactFormFields['email'].errorMessage }}
      <p *ngIf="email?.errors?.['required']">* Email is required.</p>
    </mat-error>
  </mat-form-field>

  <p class="paragraph-1">
    {{ contactFormFields['phone'].label | titlecase }}
    <span> *</span>
  </p>
  <mat-form-field class="form-field-item" appearance="outline">
    <input
      matInput
      id="{{ contactFormFields['phone'].id }}"
      type="{{ contactFormFields['phone'].type }}"
      formControlName="phone"
      placeholder="{{ contactFormFields['phone'].placeholder }}"
      required
      max="1000000000"
      autocomplete="off">

    <mat-error *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
      {{ contactFormFields['phone'].errorMessage }}
      <p *ngIf="phone?.errors?.['required']">* Phone number is required.</p>
      <p *ngIf="phone?.errors?.['minlength'] || phone?.errors?.['maxlength']">* Phone number should contain 9 digits.</p>
    </mat-error>
  </mat-form-field>

  <p class="paragraph-1">{{ contactFormFields['message'].label| titlecase }}</p>
  <mat-form-field class="form-field-item" appearance="outline">
    <textarea
      matInput
      id="{{ contactFormFields['message'].id }}"
      type="{{ contactFormFields['message'].type }}"
      formControlName="message"
      placeholder="{{ contactFormFields['message'].placeholder }}">
    </textarea>
  </mat-form-field>

  <div class="form-actions">
    <app-button
      typeButton="submit"
      [customClassList]="'btn-primary custom-btn-style'"
      [isDisabledButton]="!contactForm.valid">
      Przejdź do podsumowania
    </app-button>
  </div>
</form>
