.form-element {
  display: flex;
  flex-direction: column;
}

.form-field-item {
  margin-bottom: 1.5em;
}

.form-actions {
  margin: 2em 0;
}

input[matInput],
textarea[matInput] {
  font-family: var(--font-open-sans), "Roboto", "Helvetica Neue", sans-serif;
  font-weight: var(--weight-regular);
  font-size: var(--base-size);
  font-style: normal;
  line-height: normal;
}

textarea[matInput] {
  min-height: 150px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--darkest-1);
}

form > p > span {
  font-size: var(--paragraph-3);
  color: red;
}

/* ### Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
