<form class="form-element" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <p class="paragraph-1">
    {{ contactFormFields['name'].label | titlecase }}
    <span> *</span>
  </p>
  <mat-form-field class="form-field-item" appearance="outline">
    <input
      matInput
      id="{{ contactFormFields['name'].id }}"
      type="{{ contactFormFields['name'].type }}"
      formControlName="name"
      placeholder="{{ contactFormFields['name'].placeholder }}"
      required>
    <mat-error *ngIf="contactForm.invalid">
      {{ contactFormFields['name'].errorMessage }}
    </mat-error>
  </mat-form-field>

  <p class="paragraph-1">
    {{ contactFormFields['email'].label | titlecase }}
    <span> *</span>
  </p>
  <mat-form-field class="form-field-item" appearance="outline">
    <input
      matInput
      id="{{ contactFormFields['email'].id }}"
      type="{{ contactFormFields['email'].type }}"
      formControlName="email"
      placeholder=" {{ contactFormFields['email'].placeholder }}"
      required>
    <mat-error *ngIf="contactForm.invalid">
      {{ contactFormFields['email'].errorMessage }}
    </mat-error>
  </mat-form-field>

  <p class="paragraph-1">
    {{ contactFormFields['phone'].label | titlecase }}
    <span> *</span>
  </p>
  <mat-form-field class="form-field-item" appearance="outline">
    <input
      matInput
      id="{{ contactFormFields['phone'].id }}"
      type="{{ contactFormFields['phone'].type }}"
      formControlName="phone"
      placeholder="{{ contactFormFields['phone'].placeholder }}"
      required>
    <mat-error *ngIf="contactForm.invalid">
      {{ contactFormFields['phone'].errorMessage }}
    </mat-error>
  </mat-form-field>

  <p class="paragraph-1">{{ contactFormFields['message'].label| titlecase }}</p>
  <mat-form-field class="form-field-item" appearance="outline">
    <textarea
      matInput
      id="{{ contactFormFields['message'].id }}"
      type="{{ contactFormFields['message'].type }}"
      formControlName="message"
      placeholder="{{ contactFormFields['message'].placeholder }}">
    </textarea>
    <mat-error *ngIf="contactForm.invalid">
      {{ contactFormFields['message'].errorMessage }}
    </mat-error>
  </mat-form-field>

  <div class="form-actions">
    <app-button
      type="submit"
      [customClassList]="'btn-primary custom-btn-style'"
      [isDisabledButton]="false"
      (click)="onSubmit()">
      Przejdź do podsumowania
    </app-button>
  </div>
</form>
<br>
<p>Form STATUS: {{ contactForm.status }}</p>
